In [18]:
from numpy import *
from pandas import *
from matplotlib.pyplot import *
from seaborn import *

In [19]:
melbourne_data = read_csv ('C:\\Users\\DELL\\Desktop\\melbournedata\\melb_data.csv')
melbourne_data.head ()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2.5,3067,...,1,1.0,202,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2.5,3067,...,1,0.0,156,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2.5,3067,...,2,0.0,134,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,04-03-2017,2.5,3067,...,2,1.0,94,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,04-06-2016,2.5,3067,...,1,2.0,120,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

In [37]:
# finding out the missing values
melbourne_data.isnull ().sum ().sort_values (ascending = True)

Suburb            0
Longtitude        0
Lattitude         0
CouncilArea       0
YearBuilt         0
BuildingArea      0
Landsize          0
Bathroom          0
Regionname        0
Bedroom2          0
Distance          0
Date              0
SellerG           0
Method            0
Price             0
Type              0
Rooms             0
Address           0
Postcode          0
Propertycount     0
Car              62
dtype: int64

In [53]:
m_d_col = melbourne_data.isnull().any ()

In [54]:
m_d_col.index[m_d.values]

Index(['Car'], dtype='object')

In [55]:
m_d_rows = melbourne_data.isnull().any (axis = 1)

In [57]:
m_d_rows

0        False
1        False
2        False
3        False
4        False
         ...
13575    False
13576    False
13577    False
13578    False
13579    False
Length: 13580, dtype: bool

In [62]:
MD = m_d_rows.index [m_d_rows.values]

In [63]:
melbourne_data.iloc[MD, :]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
12221,Ascot Vale,132 The Parade,3,h,985000,S,Brad,03-09-2017,4.3,3032,...,1,NaN,245,91.0,1945.0,No area,-37.77215,144.91144,Western Metropolitan,6567
12247,Brunswick East,18 Ethel St,2,h,1023000,S,Domain,03-09-2017,4.0,3057,...,1,NaN,154,76.0,1890.0,No area,-37.77221,144.97537,Northern Metropolitan,5533
12259,Clifton Hill,34 Fenwick St,3,h,1436000,S,Jellis,03-09-2017,3.6,3068,...,2,NaN,123,128.0,1990.0,No area,-37.78888,145.00036,Northern Metropolitan,2954
12320,Glen Waverley,19 Diamond Av,3,h,1370000,S,Fletchers,03-09-2017,16.7,3150,...,1,NaN,652,No Building,Not Built,No area,-37.87170,145.17267,Eastern Metropolitan,15321
12362,Newport,11 Collingwood Rd,4,h,1180000,PI,Williams,03-09-2017,6.2,3015,...,1,NaN,545,No Building,Not Built,No area,-37.84399,144.89125,Western Metropolitan,5498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13496,Moonee Ponds,46 Eglinton St,4,h,1525000,S,Nelson,26-08-2017,6.2,3039,...,3,NaN,233,No Building,Not Built,No area,-37.76884,144.91708,Western Metropolitan,6232
13508,North Melbourne,9 Erskine St,2,h,1080000,S,Jellis,26-08-2017,1.8,3051,...,1,NaN,100,67.0,1890.0,No area,-37.79524,144.94642,Northern Metropolitan,6821
13522,Port Melbourne,201 Stokes St,2,h,1515000,SP,Marshall,26-08-2017,3.5,3207,...,2,NaN,197,No Building,Not Built,No area,-37.83754,144.93954,Southern Metropolitan,8648
13524,Prahran,17 Packington Pl,2,h,1365000,S,Jellis,26-08-2017,4.6,3181,...,1,NaN,206,100.0,1900.0,No area,-37.85569,145.00522,Southern Metropolitan,7717
13550,Sunshine North,5 Berkshire Rd,3,h,595000,SP,Barry,26-08-2017,10.5,3020,...,1,NaN,589,No Building,Not Built,No area,-37.76599,144.84445,Western Metropolitan,4217

In [68]:
melbourne_data.isnull ().all ().sum () #columns having all missing values

0

In [67]:
# rows having all null values
melbourne_data.isnull ().all (axis = 1).sum ()

0

In [69]:
address = melbourne_df ['Address'].tolist ()

In [74]:
round (melbourne_data.isnull ().sum ().sort_values (ascending = False) / len (melbourne_data) * 100, 2)

Car              0.46
Suburb           0.00
Bathroom         0.00
Regionname       0.00
Longtitude       0.00
Lattitude        0.00
CouncilArea      0.00
YearBuilt        0.00
BuildingArea     0.00
Landsize         0.00
Bedroom2         0.00
Address          0.00
Postcode         0.00
Distance         0.00
Date             0.00
SellerG          0.00
Method           0.00
Price            0.00
Type             0.00
Rooms            0.00
Propertycount    0.00
dtype: float64

In [79]:
max_null_values = melbourne_data.isnull ().sum ().sort_values (ascending = False).head (1).index.values

In [80]:
max_null_values

array(['Car'], dtype=object)

In [81]:
melbourne_data.drop (max_null_values, axis = 'columns')

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03-12-2016,2.5,3067,2,1,202,No Building,Not Built,Yarra,-37.79960,144.99840,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04-02-2016,2.5,3067,2,1,156,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04-03-2017,2.5,3067,3,2,134,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,04-03-2017,2.5,3067,3,2,94,No Building,Not Built,Yarra,-37.79690,144.99690,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,04-06-2016,2.5,3067,3,1,120,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000,S,Barry,26-08-2017,16.7,3150,4,2,652,No Building,1981.0,No area,-37.90562,145.16761,South-Eastern Metropolitan,7392
13576,Williamstown,77 Merrett Dr,3,h,1031000,SP,Williams,26-08-2017,6.8,3016,3,2,333,133.0,1995.0,No area,-37.85927,144.87904,Western Metropolitan,6380
13577,Williamstown,83 Power St,3,h,1170000,S,Raine,26-08-2017,6.8,3016,3,2,436,No Building,1997.0,No area,-37.85274,144.88738,Western Metropolitan,6380
13578,Williamstown,96 Verdon St,4,h,2500000,PI,Sweeney,26-08-2017,6.8,3016,4,1,866,157.0,1920.0,No area,-37.85908,144.89299,Western Metropolitan,6380
13579,Yarraville,6 Agnes St,4,h,1285000,SP,Village,26-08-2017,6.3,3013,4,1,362,112.0,1920.0,No area,-37.81188,144.88449,Western Metropolitan,6543

In [83]:
melbourne_data = melbourne_data.isnull ().sum (axis = 1) <= 3

0        True
1        True
2        True
3        True
4        True
         ...
13575    True
13576    True
13577    True
13578    True
13579    True
Length: 13580, dtype: bool

In [84]:
round (melbourne_data.isnull ().sum ().sort_values (ascending = False) / len (melbourne_data) * 100, 2)

Car              0.46
Suburb           0.00
Bathroom         0.00
Regionname       0.00
Longtitude       0.00
Lattitude        0.00
CouncilArea      0.00
YearBuilt        0.00
BuildingArea     0.00
Landsize         0.00
Bedroom2         0.00
Address          0.00
Postcode         0.00
Distance         0.00
Date             0.00
SellerG          0.00
Method           0.00
Price            0.00
Type             0.00
Rooms            0.00
Propertycount    0.00
dtype: float64

In [88]:
melbourne_data.loc [:,['Lattitude', 'Longtitude']].describe ()

          Lattitude    Longtitude
count  13580.000000  13580.000000
mean     -37.809203    144.995216
std        0.079260      0.103916
min      -38.182550    144.431810
25%      -37.856822    144.929600
50%      -37.802355    145.000100
75%      -37.756400    145.058305
max      -37.408530    145.526350

In [96]:
lattitude_mean = melbourne_data ['Lattitude'].mean ()

In [95]:
longitude_mean = melbourne_data ['Longtitude'].mean ()

In [97]:
lattitude_mean

-37.809202733431505

In [98]:
longitude_mean

144.99521618777578

In [101]:
melbourne_data.loc [:, 'Lattitude'].fillna (lattitude_mean, inplace=True)

In [ ]:
melbourne_data.loc [:, 'Longitude'].fillna (lattitude_mean, inplace=True)